#authentication  {
    gap: 0.8rem;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: min(100%, 400px);
}

#authentication .heading {
    margin-bottom: 2rem;
}

#authentication .subtitle {
    flex-direction: row !important;
    margin-top: 0.8rem;
}

#authentication .subtitle span {
    margin-right: 0.3em;
}

#authentication input {
    border-radius: 0.6rem;
    padding: 0.6rem 0.8rem;
}

#authentication button {
    align-items: center;
    border-radius: 0.6rem;
    justify-content: center;
    padding: 0.6rem;
}

#authentication .validation-error {
    margin-top: 0.3rem;
}

#authentication .error-on-server {
    margin-bottom: 1rem;
}



#floating-logo {
    color: var(--violet-50) !important;
    font-weight: 800;

    position: absolute;
    top: 1rem;
    left: 1rem;
}

#copyright {
    align-self: center;
    color: var(--gray-50) !important;
    font-size: 0.9rem;

    position: absolute;
    bottom: 1rem;
}



@media (min-width: 768px) {
    #authentication .subtitle *, #authentication input, #authentication button span {
        font-size: 1.1rem;
    }
}