:root {
    --white: rgb(255, 255, 255);

    --gray-10: rgb(244, 244, 245);
    --gray-20: rgb(228, 228, 231);
    --gray-30: rgb(212, 212, 216);
    --gray-40: rgb(161, 161, 170);
    --gray-50: rgb(113, 113, 122);
    --gray-60: rgb(82, 82, 91);
    --gray-70: rgb(63, 63, 70);
    --gray-80: rgb(39, 39, 42);
    --gray-90: rgb(24, 24, 27);

    --violet-10: rgb(237, 233, 254);
    --violet-20: rgb(221, 214, 254);
    --violet-40: rgb(167, 139, 250);
    --violet-50: rgb(139, 92, 246);
    --violet-60: rgb(124, 58, 237);
    --violet-70: rgb(109, 40, 217);
    --violet-90: rgb(76, 29, 149);

    --green-50: rgb(34, 197, 94);
    --green-60: rgb(22, 163, 74);

    --red-5: rgb(254, 242, 242);
    --red-10: rgb(254, 226, 226);
    --red-50: rgb(239, 68, 68);
    --red-60: rgb(220, 38, 38);
    --red-100: rgb(61, 25, 25);
}