.new-window {
    gap: 1rem;
    margin: auto;
    width: min(100%, 400px);
}



.new-window > h2 {
    margin-bottom: 1rem;
}



.new-window .msg-targets {
    background-color: var(--gray-80);
    border-radius: 0.8rem;
    padding: 0.6rem;
}

.new-window .msg-targets > span {
    font-size: calc(var(--font-size) * 0.9);
    padding-left: 0.2rem;
}

.new-window .msg-targets > div {
    gap: 0.4rem;
}

.new-window .msg-targets > div > button {
    align-items: center;
    flex-direction: row !important;
}

.new-window .msg-targets > div > button span {
    font-size: calc(var(--font-size) * 0.9);
    margin-left: 0.4rem;
}



.new-window .anonymous {
    height: 1.2rem;
    width: 1.2rem;
}



.new-window textarea {
    border-radius: 0.8rem;
    height: 10rem;
    padding: 0.6rem 0.8rem;
}



.new-window > button {
    border-radius: 0.6rem;
    font-weight: 600;
    padding: 0.6rem;
    position: relative;
}



.new-window .validation-error {
    margin-top: 0.3rem;
}



.new-window .error-on-server {
    margin-bottom: 1rem;
}



.new-window .removable-target {
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: row !important;
    gap: 0.3rem;
    padding: 0.4rem 0.6rem 0.4rem 0.4rem;
}

.new-window .removable-target span {
    font-size: calc(var(--font-size) * 0.9);
}

.new-window .removable-target .cross {
    margin-left: 0.2rem;
}